---
import Layout from '../layouts/Layout.astro'
import InvitationPage from '../components/InvitationPage.astro'
import ContentPage from '../components/ContentPage.astro'
---

<Layout>
	<main>
	
		<div id="invitation">
			<InvitationPage />
		</div>
		<div id="content" class="hidden">
			<ContentPage />
		</div>
	</main>
</Layout>

<script>
    import { isInvitationOpen } from '../store/store'
    import { animateInvitationOpen } from '../libs/js/animations'
    isInvitationOpen.subscribe((isOpen) => {
        if (isOpen) {
            animateInvitationOpen()
        }
    })
</script>