---
import Layout from '../layouts/Layout.astro'
import InvitationPage from '../components/InvitationPage.astro'
import ContentPage from '../components/ContentPage.astro'
import '../styles/main.css'

---

<Layout>
	<main>
	
		<div id="invitation">
			<InvitationPage />
		</div>
		<div id="content" class="hidden">
			<ContentPage />
		</div>
	</main>
</Layout>

<script>
    import { isInvitationOpen } from '../store/store'
    isInvitationOpen.subscribe((isOpen) => {
        if (isOpen) {
            document.getElementById('invitation').remove()
			document.getElementById('content').classList.remove('hidden')
        }
    })
</script>