---
import Layout from '../layouts/Layout.astro'
import BottomItem from '../components/BottomItem.astro'
import Title from '../components/Title.astro'
import GalleryVue from '../partial/Gallery.vue'
import '../styles/main.css'
const images = [
	{
		id: 1,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	},
	{
		id: 2,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	},
	{
		id: 3,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	},
	{
		id: 4,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	},
	{
		id: 5,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	},
	{
		id: 6,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	},
	{
		id: 7,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	},
	{
		id: 8,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	},
	{
		id: 9,
		url: 'https://via.placeholder.com/150x150',
		type: 'image'
	}
]
---

<Layout title="Landing">
	<main class="mx-auto">
		<div id="home" class="section flex flex-col flex-wrap justify-center items-center h-screen">
			<div class="text-base sm:text-md font-bold p-0 text-center py-[2rem]">
				Sabtu, 25 November 2023
			</div>
			<div class="satisfy text-center text-5xl sm:text-8xl font-bold">Yohanes & Citra</div>
			<div class="text-base sm:text-md font-bold p-0 text-center">
				<br />Dear Ayana <br /> We're Getting Married
			</div>
		</div>

		<div id="profile" class="section flex flex-col flex-wrap justify-center items-center h-screen">
			<Title
				title="Bride and Groom"
				subTitle="With joy and His grace, we invite you to join us in the celebration of the wedding"
			/>
		</div>

		<div id="event" class="section flex flex-col flex-wrap justify-center items-center h-screen">
			<Title
				title="Event"
				subTitle="With joy and His grace, we invite you to join us in the celebration of the wedding"
			/>
		</div>

		<div
			id="gallery"
			class="section flex flex-col flex-wrap justify-center items-center min-h-full h-wrap"
		>
			<Title title="Our Gallery" />
			<GalleryVue client:load client:load images={images} />
			<div class="py-[3rem]"></div>
			<Title title="Our Video" />

			<iframe client:visible
				width="560"
				height="315"
				src="https://www.youtube-nocookie.com/embed/hF0I9h7C4A4?controls=0&start=8"
				title="YouTube video player"
				frameborder="0"
				class="w-full sm:w-3/4 lg:w-1/2 aspect-auto"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen></iframe>
		</div>

		<div id="story" class="section flex flex-col flex-wrap justify-center items-center h-screen">
			<Title title="Our Story" subTitle="Time flies when you're in the moment of joy." />
		</div>

		<div id="wallet" class="section flex flex-col flex-wrap justify-center items-center h-screen">
			<Title title="Present" />
		</div>

		<nav
			class="fixed z-50 bottom-4 w-full max-w-lg -translate-x-1/2 left-1/2 bg-gray-800 text-white flex justify-around py-4"
		>
			<BottomItem title="Home" navigateTo="home" iconName="mdi:home" />
			<BottomItem title="Profile" navigateTo="profile" iconName="mdi:account" />
			<BottomItem title="Event" navigateTo="event" iconName="iconoir:calendar" />

			<BottomItem title="Gallery" navigateTo="gallery" iconName="solar:gallery-linear" />
			<BottomItem title="Story" navigateTo="story" iconName="ic:baseline-edit" />
			<BottomItem title="Hadiah" navigateTo="wallet" iconName="basil:present-outline" />
		</nav>
	</main>
</Layout>
<script>
	function smoothScrollTo(targetId: string) {
		const target = document.getElementById(targetId)
		if (target) {
			// Calculate the distance between the top of the document and the target element
			const targetOffsetTop = target.getBoundingClientRect().top

			// Use the 'scrollTo' function with behavior 'smooth' to achieve smooth scrolling
			window.scrollTo({
				top: targetOffsetTop + window.pageYOffset, // Add current scroll position to the target offset
				behavior: 'smooth'
			})
		}
	}

	document.addEventListener('DOMContentLoaded', function () {
		const sections = document.querySelectorAll('.section')
		const navigationItems = document.querySelectorAll('.nav-item')

		function setBottomNavigationClick() {
			navigationItems.forEach((x) => {
				x.addEventListener('click', (e) => {
					smoothScrollTo(x.id)
				})
			})
		}

		function getActiveSection() {
			let currentSection = sections[0]
			let minDistance = Math.abs(currentSection.getBoundingClientRect().top)

			sections.forEach((section) => {
				const distance = Math.abs(section.getBoundingClientRect().top)
				if (distance < minDistance) {
					minDistance = distance
					currentSection = section
				}
			})

			return currentSection
		}

		function setActionNavItem() {
			var iindex = 0
			let currentSection = getActiveSection()

			navigationItems.forEach((nav, index) => {
				const icon = nav.querySelector('.nav-item-icon')
				const text = nav.querySelector('.nav-item-text')
				icon.classList.remove('text-blue-600')
				text.classList.remove('text-blue-600')
				icon.classList.add('text-gray-500')
				if (nav.id === currentSection.id) {
					iindex = index
				}
			})

			const icon = navigationItems[iindex].querySelector('.nav-item-icon')
			const text = navigationItems[iindex].querySelector('.nav-item-text')

			icon.classList.remove('text-gray-500')
			icon.classList.add('text-blue-600')
			text.classList.add('text-blue-600')
		}
		// Debounce function
		function debounce(func: { (): void; apply?: any }, delay: number) {
			let timer: NodeJS.Timeout
			return function (...args: any) {
				clearTimeout(timer)
				timer = setTimeout(() => func.apply(this, args), delay)
			}
		}

		const debouncedSetActiveNavItem = debounce(setActionNavItem, 100)

		setActionNavItem()
		setBottomNavigationClick()

		document.addEventListener('scroll', debouncedSetActiveNavItem)

		document.addEventListener('onselectstart', function (event) {
			event.preventDefault()
		})
	})
</script>
<style>
	.section {
	}

	main {
		background-image: var(--accent-gradient);
	}
</style>
