---
import HomeTabButton from "./HomeTabButton.astro";
import WalletTabButton from "./WalletButton.astro";
import StoryTabButton from "./StoryTabButton.astro";

---


<div class="fixed z-50 w-full h-14 max-w-xs sm:max-w-lg -translate-x-1/2 bg-white border border-gray-200 rounded-full bottom-4 left-1/2">
    <div class="grid h-full  grid-cols-4 mx-auto">
      <HomeTabButton />
      <WalletTabButton />
      <StoryTabButton />

    </div>

    </div>