---
export interface Props {
  title: string;
  navigateTo: string;
  iconName: string;
}
const { title, navigateTo, iconName } = Astro.props;
const x = iconName.split(":")
---

<a
  href={"#" + navigateTo}
  class="flex flex-col items-center justify-center group"
>
<div class="w-5 h-5 mb-1 text-gray-500 group-hover:text-blue-600">
    <iconify-icon icon={iconName} width="24" height="24"></iconify-icon>
</div>
  <span class="text-[0.65rem] sm:text-sm group-hover:text-blue-600">{title}</span>
</a>
