---
export interface Image {
	id: string
	url: string
}

export interface Props {
	images: Image[]
}

const { images } = Astro.props
---

<div class="grid grid-cols-2 sm:grid-cols-4 gap-2 content-around pt-[2rem]">
	{images.map((image) => <img src={image.url} alt="Image" class="w-full h-full" />)}
</div>
