---
export interface Props {
	title: string
	subTitle?: string
}

const { title, subTitle } = Astro.props
---

<div>
	<div class="satisfy text-4xl font-bold text-center">{title}</div>
	{subTitle && <div class="text-xs font-bold p-2 text-center">{subTitle}</div>}
</div>
