---
import '../styles/main.css'
import smc from '../../public/social-media-cover2.jpg'
import '@fontsource/satisfy'
import { ViewTransitions } from 'astro:transitions'
import 'aos/dist/aos.css' // AOS styles
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />

		<meta name="robots" content="noindex,nofollow" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
		<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

		<!-- security options -->
		<meta name="referrer" content="no-referrer" />
		<meta name="view-transition" content="same-origin" />
		<title>The Wedding of Yohanes & Citra</title>
		<meta name="description" content="Sabtu, 25 November 2023" />

		<meta property="og:image" content={smc.src} />
		<meta property="og:title" content="The Wedding of Yohanes & Citra" />
		<meta property="og:description" content="Sabtu, 25 November 2023, Resepsi pukul 17:00 WIB" />
		<meta property="og:url" content="https://yohanes-citra.vercel.app/" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="The Wedding of Yohanes & Citra" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="The Wedding of Yohanes & Citra" />
		<meta name="twitter:description" content="Sabtu, 25 November 2023" />
		<meta name="twitter:image" content={smc.src} />

		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<ViewTransitions />
	</head>
	<body class="select-none">
		<main
			id="main-content"
			class="bg-white rounded-lg shadow-lg mx-auto max-w-screen-md md:max-w-screen-sm"
		>
			<slot />
		</main>
		<script>
			import { PhotoSwipeLightboxInit } from '../libs/js/photoswipe'

			// runs on initial page load
			PhotoSwipeLightboxInit()
		</script>
		<script>
			import { aosInit } from '../libs/js/aos'

			// runs on initial page load
			aosInit()
		</script>
		<style is:global>
			.satisfy {
				font-family: 'Satisfy', sans-serif;
			}
			body::-webkit-scrollbar {
				display: none;
			}

			:root {
				--accent: 124, 58, 237;
				--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
			}
			html {
				font-family: system-ui, sans-serif;
				background-color: #f6f6f6;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
		</style>
	</body>
</html>
